<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.2272.32" targetFramework="net451" />
  <package id="cef.redist.x86" version="3.2272.32" targetFramework="net451" />
  <package id="CefSharp.Common" version="41.0.1" targetFramework="net40" />
  <package id="CefSharp.WinForms" version="41.0.1" targetFramework="net40" />
  <package id="CsvHelper" version="2.13.2.0" targetFramework="net40" />
  <package id="log4net" version="2.0.3" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net40" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net40" />
</packages>